#visibility-dodaj-glava{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: grey;
    display: none;
}
#visibility-dodaj-torso{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: grey;
    display: none;
}
#visibility-dodaj-noge{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: grey;
    display: none;
}

#visibility-dodaj-vpis-vitalnih{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #d3d3d3;
    display: none;
    z-index: 100;
}
#visibility-registracija{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    display: none;
    z-index: 100;
}

@media only screen and (max-width: 767px) {
    #visibility-dodaj-vpis-vitalnih{
        top: 120%;
        left: 50%;
        position: absolute;
        background: #d3d3d3;
        display: none;
        z-index: 100;


    }
}