{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":36},"end":{"row":0,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"c074247bd11aec3e6a4a747817ac861374b47b2d","timestamp":1418260394945}